.app {
  display: flex;
  min-height: 100vh;
}

.main {
  flex: 1;
  min-width: 0;
}

.content {
  padding: 32px;
}

.summary-cards {
  margin-top: 32px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 20px;
}